<!doctype html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>IsItTrue.io - Fact Check Explorer</title>
        <link rel="shortcut icon" href="./img/favicon.ico">
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css' rel='stylesheet'>
        <link href='./css/theme.css' rel='stylesheet'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css' rel='stylesheet'>
        <script src="./js/underscore-min.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js'></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <style>
            body {
                background-color: #FAFAFA
            }

            #search {
                margin-top: 5em;
                padding-bottom: 2em;
            }

            .result {
                padding-bottom: 1em
            }

            .result-header {
                text-transform: capitalize
            }

        </style>

    </head>
    <body>

        <script id="results-template" type="text/template">
            <% _.each(results, function(result, key) { %>
            <div class="result row d-flex justify-content-center">
                <div class="col-sm-10">
                    <div class="card">
                        <div class="result-header card-header">
                        <%- result.websiteName %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%- result.title %></h5>
                            <h6 class="card-subtitle mb-2 text-muted"><%- result.publishedDate %></h6>
                            <p class="card-text"><%- result.claim %></p>
                            <a href="<%- result.URL %>" target="_blank" class="btn btn-primary">Go to article</a>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </script>

        <script id="api-template" type="text/template">
            <h1>API Specification</h1>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-10">
                    <p><strong>GET</strong>&nbsp;<i>/api/search/</i></p>
                    <h3>Arguments</h3>
                    <p><strong>q:</strong>&nbsp;query</p>
                    <p><strong>p:</strong>&nbsp;page number</p>
                    <p><strong>ps:</strong>&nbsp;page size</p>
                </div>
            </div>
            <h2>Response example</h2>
            <div class="row d-flex justify-content-center">
                <div class="col-sm-10">
                    <pre>
                        {
                            "status": "success",
                            "message": "All OK!",
                            "data": [{
                                "id": 2,
                                "websiteID": 1,
                                "websiteURL": "https://www.snopes.com/",
                                "websiteName": "snopes",
                                "identifier": "315615",
                                "URL": "https://www.snopes.com/fact-check/covid-vaccine-aborted-fetal-cells/",
                                "title": "Does J&J COVID-19 Vaccine Contain Aborted Fetal Cells?",
                                "author": "Jessica Lee",
                                "publishedDate": "2021-03-11",
                                "claim": "Johnson & Johnson's COVID-19 vaccine contains aborted fetal cells.",
                                "claimDate": null,
                                "rating": "F",
                                "ratingWebsite": "False",
                                "sources": null,
                                "tags": ["COVID-19", "abortion", "COVID-19 Vaccine"]
                            }],
                            "query": {
                                "keyword": "Vaccine Contain Aborted Fetal Cells",
                                pageNo: 1,
                                pageSize: 1
                            }
                        }
                    </pre>
                </div>
            </div>
        </script>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/">IsItTrue.io - Fact Check Explorer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a id="searchNavLink" href="#search" class="nav-link active">Search</a>
                    </li>
                    <li class="nav-item">
                        <a id="apiNavLink" href="#api" class="nav-link">API</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-primary" href="https://gitlab.com/isittrue" target="_blank">
                            <i class="fa fa-gitlab fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-primary" href="https://ko-fi.com/merfrei" target="_blank">
                            <i class="fa fa-coffee fa-lg" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dataset
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/export/articles.csv">CSV</a>
                            <a class="dropdown-item" href="/export/articles.json">JSON</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <div id="search" class="container d-flex justify-content-center">
            <div class="input-group col-sm-7 input-group-lg">
                <input id="searchInput" type="text" class="form-control">
            </div>
            <div class="input-group col-sm-1 input-group-lg">
                <button class="btn btn-primary form-control" type="button">
                    <span id="searchSpinner" class="spinner-grow spinner-grow-sm d-none"></span>
                    <i id="searchBtn" class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div id="results" class="container">

        </div>

        <footer class="py-5 bg-primary">
            <div class="container">
               <p class="m-0 text-center text-white">Copyright © <a href="http://merfrei.com" class="text-light" target="_blank">Merfrei Solutions 2021</a></p>
            </div>
        </footer>

        <script>
            let resultsTmp = _.template(
                $('#results-template').html()
            );

            let apiTmp = _.template(
                $('#api-template').html()
            );

            function toggleSpinner() {
                if ($('#searchSpinner').hasClass('d-none')) {
                    $('#searchSpinner').removeClass('d-none');
                    $('#searchBtn').addClass('d-none');
                } else {
                    $('#searchSpinner').addClass('d-none');
                    $('#searchBtn').removeClass('d-none');
                }
            }

            function loadResults(query) {
                let searchControl = '#search-control';
                    $('#searchInput').removeClass("is-invalid");
                    if (!$(searchControl).hasClass("is-loading")) {
                        $(searchControl).addClass("is-loading");
                    }
                    let url = '/api/search/';
                    if (query !== undefined) {
                        url += '?q=' + query;
                    }
                    toggleSpinner();
                    axios.get(encodeURI(url)).then((response) => {
                        toggleSpinner();
                        let data = response.data;
                        if (data['status'] != 'success') {
                            alert('Sorry, error found');
                            return;
                        }
                        let results = data['data'];
                        $('#results').html(resultsTmp({'results': results}));
                    });
            }

            function makeSearch() {
                activateSearch('#searchNavLink');
                let search = $('#searchInput').val();
                if (search.length < 3) {
                    if (!$('#searchInput').hasClass("is-invalid")) {
                        $('#searchInput').addClass("is-invalid");
                    }
                    alert('The search is too short');
                } else {
                    loadResults(search);
                }
            }

            function activateSearch(slink) {
                if (!$(slink).hasClass("active")) {
                    $(".nav-link").removeClass("active");
                    $(slink).addClass("active");
                }
            }

            $('#searchNavLink').click(function(event){
                event.preventDefault();
                activateSearch(this);
                loadResults();
            });

            $('#apiNavLink').click(function(event){
                event.preventDefault();
                if (!$(this).hasClass("active")) {
                    $(".nav-link").removeClass("active");
                    $(this).addClass("active");
                    $('#results').html(apiTmp());
                }
            });

            $('#searchBtn').click(function(event){
                makeSearch();
            });

            $('#searchInput').keypress(function(event){
                let keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    makeSearch();
                }
            });

            $( document ).ready(function() {
                loadResults();
            });

        </script>

    </body>
</html>
